.header { 
    width: 100%;
    height: 718px;
    background-image: url(/dist/img/header-img.jpg);
    font-family: $basic-font;
    @include cover-bg-img;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 103px;
    background-color: rgba(39, 38, 42, 1);
    padding: 0 15px;
}


.logo-text {
    display: none;
    text-transform: uppercase;
    color: $basic-color;
    font-size: 24px;
    line-height: 16px;
}

.logo {
    position: relative;
}

.logo-hover {
    position: absolute;
    display: none;
}

.header__btn {
    background-color: $basic-color;
    border: none;
    border-radius: 40px;
    color: $sections-color;
    font-family: $basic-font;
}

.buy-now-btn {
    width: 120px;
    height: 37px;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
}

.menu-btn {
    position: relative;
    width: 44px;
    height: 37px;
    background-color: rgba(39, 38, 42, 1);;
    border: none;
}

.close-icon {
    width: 23px;

}

.close-icon-wrapper {
    position: absolute;
    top: 6px;
    left: 9px;
    width: 26px;
    background-color: rgba(39, 38, 42, 1);
    &--disabled {
        display: none;
    }
}

.icon-color {
    color: white;
    font-size: 22px;    
}

.header__navbar {
    display: none;
    background-color:rgba(51, 51, 51, 1);
    width: 292px;
    top: 103px;
    left: 5%;
    right: 5%;   
}

.header__navbar--isActive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    position: absolute;
}

.navbar-link {
    display: flex;
    align-items: center;
    border-bottom: 3px solid rgba(59, 59, 59, 1);
    padding: 19px 0 16px;
}

.navbar-item {
    color: $sections-color;
    font-size: 26px;
    line-height: 26px;
    padding: 10px 0 10px 35px;

    &:hover {
        color:  $basic-color;
        border-left: solid 8px $basic-color;
    }
}

.navbar-link {
    text-decoration: none;
    color: $sections-color;
}



.header-title {
    text-align: center;
    color: $sections-color;
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    padding-top: 50px;
}

.header-subtitle {
    text-align: center;
    color: $basic-color;
    font-size: 18px;
    line-height: 24px;
    padding: 20px 40px 0;
}

.versions-subtitile {
    text-align: center;
    color: rgba(132, 142, 151, 1);
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    padding-top: 15px;
}

.download-btn {
    position: relative;
    top: -23px;
    width: 290px;
    height: 45px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;   
}  

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trial-period {
    display: flex;
    justify-content: center;
    color: rgba(132, 142, 151, 1);
    font-family: $basic-font;
    font-size: 14px;
    line-height: 14px;
}

@media (min-width: 768px) {
    .logo {
        display: flex;
        align-items: center;
    }
   
    .logo-text {
        display: block;
        padding-left: 17px;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    
    .menu-btn {
        display: none;
    }

    .buy-now-btn {
        margin-left: 400px;
    }

    .header__navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: transparent;
        margin: 0 auto;
        width: 517px;
        height: 21px;
    }

.navbar-link, .navbar-item {
    display: flex;
    align-items: center;
    color: $basic-color;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    border: none;

        &:hover {
        border: none;
        color: $basic-color;
        }
    }
}

@media (min-width: 1200px) {

    .navbar {
        background-color: transparent;
    }
    
    .buy-now-btn {
        display: flex;
        justify-content: center;
        margin-left: 0;
        order: 2;
        margin-right: 90px;
    }
     
    .header__btn:hover {
        background-color: $sections-color;
        color: $basic-color;
        border: solid 2px $basic-color;
    }

    .logo {
        margin-left: 90px;
    }


    .logo:hover .logo-hover {
        display: block;
    }

    .logo:hover .logo-text {
        color: white;
    }

    .header__navbar {
        flex-grow: 1;
        justify-content: end;
        margin: 0;
    }

    .navbar-item {
        margin-right: 48px;
    }

.navbar-item, .navbar-link {
       
    &:hover {
        color: $sections-color;
        border: none;
    }
}

    .download-btn {
        top: -20px;
    }
}