@import "./main-sections/possibiliries-section";
@import "./main-sections/section";
@import "./main-sections/price-section";

.main {
    text-align: center;
    &__title {
        margin: 80px 0 27px;
        font-size: 26px;
        line-height: 28px;
        font-weight: 700;
        font-family: $basic-font;
        text-transform: uppercase;
        color: #635C73;
    }

    &__description {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        font-family: $additional-font;
        margin: 0 6.5vw 35px;
    }

    &__statistics {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 68px;
    }
}

.statistics-box {
    margin: 0 10px 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: solid 1px rgb(175, 175, 175);
    border-radius: 4px;
    background: linear-gradient(rgb(250, 250, 250), rgb(233, 233, 233));

    &__icon {
        display: inline-block;
        height: 14px;
    }

    &__name {
        font-size: 12px;
        font-family: $additional-font;
        font-weight: 700;
        margin: 0 10px 0 5px;
    }

    &__activity-number {
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        font-family: $additional-font;
        padding: 6px 10px;
        border-left: solid 1px rgb(175, 175, 175);
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: #fff;
    }
}

@media (min-width: 768px) {
    .main {
        &__title {
            margin: 94px 0 33px;
            font-size: 42px;
            line-height: 42px;
        }
    
        &__description {
            font-size: 21px;
            line-height: 32px;
            margin: 0 5.21vw 35px;
        }
    
        &__statistics {
            padding-bottom: 98px;
        }
    }
}

@media (min-width: 1200px) {
    .main {
        &__title {
            margin: 66px 0 35px;
            font-size: 54px;
            line-height: 54px;
        }
    
        &__description {
            font-size: 21px;
            line-height: 32px;
            margin: 0 20vw 15px;
        }
    
        &__statistics {
            padding-bottom: 70px;
        }
    }
}