.people-talking-section {
    width: 100%;
    background-image: url(/dist/img/fork-section.jpg);
    padding: 57px 25px 38px;
    @include cover-bg-img;
}

.people-title {
    margin-bottom: 53px;
}

.brand-wrapper {
    margin-bottom: 45px;
}

.brand-description {
    margin-top: 27px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
}

.brands-description-text {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    color: rgba(162, 145, 165, 1);
    margin-top: -7px;

    &::after {
        content: '';
        position: absolute;
        bottom: -22px;
        left: 50%;
        margin-left: -38.5vw;
        height: 2px;
        width: 77vw;
        background-color:rgba(100, 87, 102, 1);
    }
}

@media (min-width: 768px) {
    .people-talking-section {
        padding-top: 85px;
    }

    .brands-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .brand-wrapper {
        width: 45%;
    }
}

@media (min-width: 1200px) {
    .people-talking-section {
        padding: 110px 80px 50px;
    }

    .brand-wrapper {
        width: 28%;
        margin-bottom: 115px;
    }

    .people-title {
        margin-bottom: 80px;
    }
}