.possibilities-section {
    padding: 32px 0 6px;
    width: 100vw;
    overflow: hidden;

    &__title {
        font-size: 32px;
        line-height: 38px;
        font-weight: 700;
        font-family: $basic-font;
        color: $basic-color;
        margin: 0 45px 35px;
        color: $basic-color;
    }

    &__app-img {
        height: 381px;
    }
}

.option-wrapper {
    &__img {
        margin-bottom: 25px;
        width: 111px;
        height: 84px;
    }

    &__description {
        margin-bottom: 40px;
    }
}

.description-title {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-family: $basic-font;
    margin-bottom: 14px;
    color: #323232;
}

.description-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-family: $additional-font;
    margin: 0 25px;
    color: #848E97;
}

@media (min-width: 768px) {
    .possibilities-section {
        padding: 62px 0 520px;
        position: relative;
    
        &__title {
            font-size: 42px;
            line-height: 44px;
            margin: 0 0 35px;
        }
    
        &__app-img {
            height: 519px;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    
    .option-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 35px 60px;

        &__img {
            margin-bottom: 0;
            margin-top: 14px;
        }
    
        &__description {
            margin-bottom: 0;
        }
    }
    .option-wrapper__description {
        text-align: start;
        margin-left: 23px;
    }
    .description-title {
        line-height: 21px;
        margin-bottom: 16px;
    }
    
    .description-text {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .possibilities-section {
        padding: 98px 0 22px;
        background-color: #F4F4F4;
        display: flex;
        justify-content: space-between;
    
        &__title {
            font-size: 48px;
            line-height: 50px;
            order: 2;
            margin-right: 100px;
        }
    
        &__app-img {
            height: 519px;
            position: absolute;
            right: 0;
            bottom: 33px;
        }
    }
    
    .options-container {
        width: 40%;
        margin-left: 80px;
    }

    .option-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 35px 60px;
        order: 1;

        &__img {
            margin-bottom: 0;
            margin-top: 14px;
        }
    
        &__description {
            margin-bottom: 0;
        }
    }
}