.price-section {
    background-image: url(../../../../src/img/background/pricing-bg.jpg);
    @include cover-bg-img;
    padding: 15px 0 1px;

    &__title {
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 32px;
    }
}

.license-wrapper {
    width: 255px;
    height: 460px;
    background-color: rgba(255, 255, 255, 0.110);
    margin: 0 auto 18px;

    &__name {
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
        text-transform: uppercase;
        width: 255px;
        padding: 36px 0;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.060);
    }

    &__price {
        font-size: 60px;
        line-height: 62px;
        font-weight: 700;
        display: block;
        margin-bottom: 20px;
    }

    &__per-time {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        margin-bottom: 73px;
        display: block;
        position: relative;

        &::after {
            content: "";
            width: 60px;
            height: 5px;
            position: absolute;
            background-color: $basic-color;
            bottom: -38px;
            left: 50%;
            margin-left: -30px;
        }
    }

    &__license-type {
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        margin-bottom: 37px;
        display: block;
    }

    &__purchase-btn {
        font-size: 15px;
        line-height: 15px;
        text-transform: uppercase;
        padding: 15.5px 38px 14.5px;
        border: none;
        border-radius: 40px;
        background-color: rgba(255, 255, 255, 0.15);
        color: #fff;
        cursor: pointer;

        &--fix {
            margin-top: 27px;
        }
    }

    &--active {
        width: 299px;
        height: 560px;
        background-color: rgba(70, 48, 72, 0.84);
    
        .license-wrapper__name {
            width: 299px;
            padding: 43px 0;
            margin-bottom: 14px;
            background-color: rgba(0, 0, 0, 0.11);
        }
    
        .license-wrapper__price {
            font-size: 82px;
            line-height: 84px;
            margin-bottom: 16px;
        }
    
        .license-wrapper__per-time {
            margin-bottom: 91px;
        }
    
        .license-wrapper__license-type {
            line-height: 32px;
            margin-bottom: 75px;
        }
    
        .license-wrapper__purchase-btn {
            font-size: 16px;
            line-height: 18px;
            padding: 18.5px 48px 17.5px;
            background-color: rgba(255, 255, 255, 0.15);
            color: #fff;
        }
    }
}

@media (min-width: 768px) {
    .price-section {
        padding: 90px 0 60px;
        &__title {
            font-size: 42px;
            line-height: 44px;
        }
    }
    .content-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .license-wrapper {
        margin: 0 25px 30px;
        &--active {
            margin: 0 0 30px;
        }
    }
}

@media (min-width: 1200px) {
    .price-section {
        padding: 83px 0 97px;

        &__title {
            font-size: 48px;
            line-height: 50px;
        }
    }


}


