.section {
    text-align: center;
    color: #fff;
    font-family: $basic-font;
}
.section-title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
}

@media (min-width: 768px) {
    .section-title {
        font-size: 42px;
        line-height: 44px;
    }
}

@media (min-width: 1200px) {
    .section-title {
        font-size: 48px;
        line-height: 50px;
    }
}